<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Demo APP</title>
        <meta name="description" content="Demo Load Balancing APP" />
        <meta name="author" content="@JManzur" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- CSS -->
        <link rel= "stylesheet" type= "text/css" href="static/styles/normalize.css">
        <link rel= "stylesheet" type= "text/css" href="static/styles/skeleton-dark.css">

        <!-- Content -->
        <div class="container">
            <div class="row">
                <div class="column" style="margin-top: 10%">
                    <!-- <img src="static/images/load-balancer-icon.png" srcset="static/images/load-balancer-icon.png 3x" alt="LB Logo"> -->
                <img src="static/images/load-balancer-icon.png" alt="LB Logo">
                <h3>Hello World from:</h3>
                <p style="color:rgb(160, 51, 51);"><b>{{hostname}}</b></p>
            </div>
        </div>
        <footer>
            <p>App version: {{app_version}}<p>
            <p>Source code: <a href="https://github.com/JManzur/load-balancing-demo-app" target="_blank" rel="noopener">@JManzur GitHub</a></p>
        </footer>
    </head>
    <body></body>
</html>